            
        {% comment %} <!-- ----------------- Copyright Section -------------------- --> {% endcomment %}

        <div class="copyright">
            <p>Copyright © SA. Made With <i class="fas fa-heart"></i> <a style="
                text-decoration: none;
                color: white;" href="https://github.com/shauky6963">By Shaukat Ali</a></p>
        </div>
    <script src="../static/script.js"></script>
        
        
        {% comment %} <!-- ----------------- Copyright Section -------------------- --> {% endcomment %}